.figure-editor[b-lncbuk5wv3] {
    font-size: 0.8em;
}

.figure-editor h6[b-lncbuk5wv3] {
    font-size: 1em;
}

.figure-editor .figure-offset[b-lncbuk5wv3] {
    font-size: 0.85em;
    font-weight: normal;
}

.figure-editor .table[b-lncbuk5wv3] {
    font-size: 1em;
}

.figure-editor .form-control-sm[b-lncbuk5wv3] {
    font-size: 1em;
    color: #fff;
    background-color: #2a2a3a;
    border-color: #555;
}

.figure-editor .param-value-readonly[b-lncbuk5wv3] {
    color: #fff;
}
